:root {
  --orange: #e76f51;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto-Regular";
  font-size: 1.6rem;
  line-height: 1.6;
}

/* 
Reset Styles
*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
Helper Classes
*/

/* 
App styles
*/

.header {
  background: linear-gradient(90deg, rgb(59 55 53 / 50%), rgb(59 55 53 / 50%)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.logo-app {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__img {
  width: 100%;

  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
}
.menu__link {
}
.nav-menu {
  display: none;
}
.mobile-menu {
}
.mobile-menu__item {
}
.mobile-menu__link {
}
.mobile-menu__links {
}
.nav-menu__link {
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.header__link {
}
.header__link--border {
}
.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #fff;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  position: relative;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.8rem;
}

.nav__btn-line::after {
  top: 0.8rem;
}
