:root {
  --orange: #e76f51;
  --withe: #ffffff;
  --grey: #d2d2d2;
  --dark: #3b3735;
  --app-bg: #faf4f2;
  --primary-font: Roboto-Regular, Arial, Helvetica, sans-serif;
  --primary-font-md: Roboto-Medium, Arial, Helvetica, sans-serif;
  --secondary-font: Archivo-Black, Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--app-bg);
}

/* 

================
  Reset Styles
================

*/

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* 

==================
  Helper Classes
==================

*/

/* 

==============
  Components
==============

*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font-md);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.mobile-menu__link--active {
  padding-left: 2.2rem;
}

.mobile-menu__link--active::before {
  width: 1.6rem !important;
}

/* 

==============
  App Styles
==============

*/

.header {
  min-height: 85vh;
  background: linear-gradient(90deg, rgb(59 55 53 / 50%), rgb(59 55 53 / 50%)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

/* 

=======
  Nav
=======

*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* 

=============
  App logo
=============

*/

.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}

.app-logo__img {
  width: 100%;
  height: 100%;
}

/* 

=============
  Main Menu
=============

*/

.menu {
  display: none;
  gap: 2rem;
}

.menu__link {
  color: var(--grey);
  transition: color 100ms ease-in;
  -webkit-transition: color 100ms ease-in;
  -moz-transition: color 100ms ease-in;
  -ms-transition: color 100ms ease-in;
  -o-transition: color 100ms ease-in;
}

.menu__link:hover {
  color: var(--withe);
}

.menu__link--active {
  color: var(--withe);
  position: relative;
  z-index: 1;
}

.menu__link--active::before {
  content: "";
  width: 4rem;
  height: 0.3rem;
  position: absolute;
  top: 0.7rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-color: var(--orange);
  z-index: -1;
}

/* 

===================
  Navigation Menu
===================

*/

.nav-menu {
  width: 25rem;
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  padding: 2.5rem;
  background: var(--dark);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.nav-menu--open {
  left: 0;
}

/* 

========================
  Mobile Menu(Desktop)
========================

*/

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menu__item {
  margin-bottom: 1rem;
}

.mobile-menu__link {
  color: var(--withe);
  position: relative;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0.3rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.mobile-menu__link:hover {
  padding-left: 2.2rem;
}

.mobile-menu__link:hover::before {
  width: 1.6rem;
}

/* 

=============
  Nav Links
=============

*/

.nav-menu__title {
  width: 20rem;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: center;
  color: var(--withe);
  border-bottom: 0.1rem solid var(--withe);
}

.mobile-menu__links {
  display: flex;
}

.nav-menu__link {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  color: var(--withe);
  border: 0.1rem solid var(--withe);
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}
.nav-menu__link:hover {
  background-color: var(--withe);
  color: var(--dark);
}

/* 

===============
  Header Links
===============

*/

.nav__links {
  display: none;
}

.nav__link {
  font-family: var(--primary-font-md);
  color: var(--withe);
}

.nav__link--border {
  padding: 1rem 2.5rem;
  margin-left: 2rem;
  border: 0.1rem solid var(--withe);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}

.nav__link--border:hover {
  background-color: var(--withe);
  color: var(--dark);
}

/* 

=============
  Nav Btn
=============

*/

.nav__btn {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: var(--withe);
  z-index: 0;
}

.nav__btn-line {
  width: 3rem;
  height: 0.3rem;
  display: block;
  position: relative;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background-color: var(--orange);
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.8rem;
}

.nav__btn-line::after {
  top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
  background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
  transform: translateY(0.8rem) rotate(45deg);
  -webkit-transform: translateY(0.8rem) rotate(45deg);
  -moz-transform: translateY(0.8rem) rotate(45deg);
  -ms-transform: translateY(0.8rem) rotate(45deg);
  -o-transform: translateY(0.8rem) rotate(45deg);
}

.nav__btn--open .nav__btn-line::after {
  transform: translateY(-0.8rem) rotate(-45deg);
  -webkit-transform: translateY(-0.8rem) rotate(-45deg);
  -moz-transform: translateY(-0.8rem) rotate(-45deg);
  -ms-transform: translateY(-0.8rem) rotate(-45deg);
  -o-transform: translateY(-0.8rem) rotate(-45deg);
}

/* 

==================
  Header Content
==================

*/

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  color: var(--withe);
}

.header-content__title {
  max-width: 34.5rem;
  font-family: var(--secondary-font);
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 1rem;
}

.header-content__caption {
  max-width: 34rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.header-content__link {
  background-color: var(--orange);
}

/* 

------ Main ------

*/



/* 

=============
  Services
=============

*/

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
  margin-top: -15rem;
}

.service {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
  color: var(--dark);
  background-color: var(--withe);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.service__title {
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  margin: 1.5rem 0 0.6rem 0;
}

.service__caption {
  max-width: 28rem;
}

/* 

================
  Destinations
================

*/

.destinations {
  margin: 8rem 0 12rem;
  text-align: center;
}

.destinations__logo{
  width: 8rem;
  height: 8rem;
}

.destinations__title {
  max-width: 36rem;
  margin: 3rem auto;
  font-size: 3rem;
  font-family: var(--secondary-font);
}

.destinations__btn {
  margin-top: 5rem;
  color: var(--orange);
  border: 0.1rem solid var(--orange);
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}

.destinations__btn:hover {
  color: var(--app-bg);
  background-color: var(--orange);
}

.destinations__places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}

.place {
  padding: 2rem;
  overflow: hidden;
  background-color: var(--withe);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.place__banner {
  position: relative;
}

.place__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.place__like {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--withe);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  cursor: pointer;
}

.place__like-icon--fill {
  fill: var(--orange);
}

.place__price {
  width: 12rem;
  height: 3.6rem;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: var(--withe);
}

.place__price-text {
  font-family: var(--primary-font-md);
  color: var(--orange);
}

.place__title {
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  margin-top: 3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.place__caption {
  max-width: 30rem;
  margin: 0 auto 3rem;
}

.place__link {
  color: #8d8d8d;
  background-color: #8d8d8d1a;
}
