html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto-Regular";
  font-size: 1.6rem;
  line-height: 1.6;
}

/* 
Reset Styles
*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
Helper Classes
*/

/* 
App styles
*/
