.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (max-width: 375px) {
  .hontainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header-content__title {
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin-bottom: 0;
  }
  .header-content__caption {
    font-size: inherit;
    line-height: inherit;
  }
  .destinations__title {
    font-size: 2.4rem;
  }
  .newsletter__title {
    max-width: 16rem;
  }
  .footer {
    text-align: center;
  }
  .footer__right {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
  .footer-app--mobile {
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .newsletter::before {
    top: -10rem;
  }
  .newsletter__img {
    width: 90%;
  }
  .footer__right {
    padding-left: 0;
  }
  .footer-app--mobile {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .nav__btn,
  .nav-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  .newsletter {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .newsletter::before {
    top: -30rem;
    right: 20rem;
  }
  .newsletter__content {
    padding-right: 4rem;
    text-align: left;
  }
  .newsletter__caption {
    padding-left: 0;
  }
  .newsletter__img {
    width: 100%;
  }
  .footer__scroll {
    left: auto;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .nav__links {
    display: block;
  }
  .header-content__caption {
    max-width: 50rem;
  }
  .newsletter {
    padding: 3rem;
  }
  .newsletter::before {
    top: -35rem;
    right: 33rem;
  }
  .newsletter__title {
    margin: 0;
  }
  .footer__wrapper {
    flex-wrap: nowrap;
  }
  .footer__left {
    max-width: 42rem;
  }
  .footer-app--mobile {
    display: none;
  }
  .footer-app--desktop {
    display: block;
  }
}

@media (min-width: 1200px) {
  .newsletter {
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .newsletter::before {
    top: -37rem;
    right: 42rem;
  }
  .newsletter__content {
    flex-basis: 57%;
  }
  .newsletter__banner {
    flex-basis: 39%;
  }
  .footer__left {
    max-width: 50rem;
  }
  .footer__right {
    gap: 2rem;
  }
  .footer-list {
    flex-basis: 16rem;
  }
}

@media (min-width: 1400px) {
  .newsletter::before {
    right: 50rem;
  }
  .newsletter__content {
    flex-basis: 60rem;
  }
  .newsletter__banner {
    flex-basis: 42rem;
  }
}

@media (min-width: 1700px) {
  .destinations__places {
    grid-template-columns: repeat(4, 1fr);
  }
  .newsletter::before {
    right: 80rem;
  }
}
